@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<form method="post">
    <div class="form-group">
        <label class="control-label col-md-3" for="name">Name *</label>
        <div class="col-md-9"><input type="text" id="name" name="name" required/></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" for="email">EMail *</label>
        <div class="col-md-9"><input type="email" id="email" name="email" required/></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" for="website">Web Site</label>
        <div class="col-md-9"><input type="text" id="website" name="website"/></div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" for="email">Comments</label>
        <div class="col-md-9"><input type="text" id="comment" name="comment" /></div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">SUBMIT</button>
        <button type="reset" class="btn btn-info">RESET</button>
        @if (ViewBag.MailSent != null && ViewBag.MailSent)
        {
            <script>alert("Mail Sent!")</script>
        }
    </div>
</form>